// #FEFEFE ->   filter: invert(98%) sepia(1%) saturate(269%) hue-rotate(40deg) brightness(121%) contrast(99%);
// #F8CA02 ->  Yellow   filter: invert(98%) sepia(1%) saturate(269%) hue-rotate(40deg) brightness(121%) contrast(99%);
// #8B0113 red  filter: invert(17%) sepia(24%) saturate(7410%) hue-rotate(335deg) brightness(83%) contrast(120%);

// #000 $mainColor filter: invert(0%) sepia(4%) saturate(7483%) hue-rotate(243deg) brightness(100%) contrast(106%);

.main-title {
  @include adaptiveValue("font-size", 58, 48,0,1920,1366.98);
  font-family: "Alumni Sans", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: $red;
  @include adaptiveValue("margin-bottom", 30, 20,0,1920,1366.98);
}

.title-two {
  @include adaptiveValue("font-size", 76, 56,0,1920,1366.98);
  font-family: "Alumni Sans", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

%paddingSections {
  @include adaptiveValue("padding-top", 100, 60,0,1920,1366.98);
  @include adaptiveValue("padding-bottom", 100, 60,0,1920,1366.98);
}
%maxWidthButton {
  @include adaptiveValue("max-width", 560, 385,0,1920,1366.98);
}
.bg-gray {
  background-color: $gray;
}
.bg-yellow {
  background-color: $yellow;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: toRem(26);
  border: toRem(2) solid transparent;
  @include adaptiveValue("font-size", 20, 18,0,1920,1366.98);
  font-weight: 500;
  height: fit-content;
  @include adaptiveValue("min-height", 100, 80,0,1920,1366.98);

  transition: background-color .3s ease, color .3s ease, border-color .3s ease;
  &.btn--01 {
    background-color: transparent;
    border-color: $red;
    color: $red;
    @media (any-hover: hover){
      &:hover{
        color: $mainWhite;
        background-color: $red;
      }
    }
  }
  &.btn--02 {
    background-color: $red;
    border-color: $red;
    color: $mainWhite;
    @media (any-hover: hover){
      &:hover{
        color: $red;
        background-color: transparent;
      }
    }
  }
}


// ==================== СВАЙПЕР ==========================================
// КНОПКИ ВЛЕВО-ВПРАВО СВАЙПЕР ==========================================
.btn-swiper {
  position: absolute;
  z-index: 5;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: toRem(8);
  width: toRem(40);
  height: toRem(40);
  transition: background-color .1s linear;
  @media (any-hover: hover){
    &:hover{

      &.btn-swiper--light {
        background-color: #000;
        img {
          filter: invert(98%) sepia(1%) saturate(269%) hue-rotate(40deg) brightness(121%) contrast(99%);
        }
      }
      &.btn-swiper--dark {
        background-color: rgba(255, 255, 255, 0.5);
        img {
          filter: invert(0%) sepia(4%) saturate(7483%) hue-rotate(243deg) brightness(100%) contrast(106%);
        }
      }
    }
  }
  &.btn-swiper--light {
    background-color: rgba(255, 255, 255, 0.5);
  }
  &.btn-swiper--dark {
    background-color: $mainColor;
    img {
      filter: invert(98%) sepia(1%) saturate(269%) hue-rotate(40deg) brightness(121%) contrast(99%);
    }
  }
  &.swiper-button-prev {
    img {
      transform: scaleX(-1);
    }
  }
  &.swiper-button-next {
  }
}
// ПАГИНАЦИЯ СВАЙПЕР ==========================================
.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: toRem(10);

  .swiper-pagination-bullet {
    cursor: pointer;
    display: block;
    border-radius: toRem(4);
    width: toRem(16);
    height: toRem(16);
    transition: transform .3s ease, background-color .3s ease;
    &.swiper-pagination-bullet-active {
      background-color: $yellow !important;
      transform: scale(1.2);
    }
  } 
  &.pagination--dark {
    .swiper-pagination-bullet {
      background-color: rgba(0, 0, 0, 0.05);
    }
    .swiper-pagination-bullet-before {
      background-color: rgba(0, 0, 0, 0.15);
    }
    .swiper-pagination-bullet-after {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }
  &.pagination--light {
    .swiper-pagination-bullet {
      background-color: rgba(255, 255, 255, 0.1);
    }
    .swiper-pagination-bullet-before {
      background-color: rgba(255, 255, 255, 0.3);
    }
    .swiper-pagination-bullet-after {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}



// === ЭЛЕМЕНТЫ КАРТОЧЕК===========================================
    // = ОБОЛОЧКА, ХОВЕР =================
    %cardWrapper {
      background-color: $mainWhite;
      border-radius: toRem(26);
      overflow: hidden;
      border: toRem(2) solid $red;
      height: 100%;
      width: 100%;
      transition: box-shadow .45s ease, border-color .3s ease;
    
      @media (any-hover: hover){
        &:hover{
          box-shadow: 0px 5px 20px 0px rgba(248, 202, 2, 0.5);
          border-color: $yellow;
          .arrow-card {
            opacity: 1;
          }
        }
      }
    }

    // Стрелки на странице home ==========================
    .arrow-card {
      &.card--yellow {
        img {
          @media (min-width:toEm(850.98)){
              filter: invert(17%) sepia(24%) saturate(7410%) hue-rotate(335deg) brightness(83%) contrast(120%);
          }
        }
      }
      &.card--red {
        img {
          @media (min-width:toEm(850.98)){
             filter: invert(98%) sepia(1%) saturate(269%) hue-rotate(40deg) brightness(121%) contrast(99%);
          }
        }
      }
      &.card--av {
        @include adaptiveValue("width", 70, 45,0,1920,1366.98);
        @include adaptiveValue("height", 70, 45,0,1920,1366.98);
        img {
          @include adaptiveValue("width", 17,14,0,1920,1366.98);
        }
      }
      &.card--big {
        @include adaptiveValue("width", 100, 70,0,1920,1366.98);
        @include adaptiveValue("height", 100, 70,0,1920,1366.98);
        img {
          @include adaptiveValue("width", 24,20,0,1920,1366.98);
        }
      }
      &.card--sm {
        width: toRem(50);
        height: toRem(50);
        border-top-left-radius: toRem(20) !important;
        img {
          width: toRem(12);
        }
      }
    
      @media (min-width:toEm(850.98)){
        position: absolute;
        z-index: 2;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: toRem(26);
        opacity: 0;
        transition: opacity .3s ease;
        &.card--yellow {
          background-color: $yellow;
        }
        &.card--red  {
          background-color: $red;
        }
      }
      @media (max-width: toEm(850.98)){
          display: none;
      }
      img {
        @media (min-width:toEm(850.98)){
          position: relative;
          left: 2px;
          height: auto;
        }
      }
    }