.footer {
  // .footer__container
  &__container {
  }
  // .footer__body
  &__body {
    @extend %paddingSections;
    display: grid;
    @include adaptiveValue("gap", 83,20,0,1920,1366.98);
    @media (min-width:toEm(1100.98)){
      grid-template-columns: auto 60% auto;
    }
    @media (max-width: toEm(1100.98)) and (min-width: toEm(950.98)){
      grid-template-columns: auto 55% auto;
    }
    @media (max-width: toEm(950.98)) and (min-width: toEm(700.98)){
        grid-template-columns: auto 1fr;
    }
    @media (max-width: toEm(700.98)){
        gap: toRem(30) !important;
        padding-bottom: toRem(30) !important;
    }
  }
  // .footer__first
  &__first {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: toRem(30);
  }
  // .footer__logo
  &__logo {
    display: grid;
    grid-template-columns: auto 1fr;
    @include adaptiveValue("gap", 30, 11,0,1920,1366.98);
    @media (min-width:toEm(700.98)){
      min-width: toRem(303);
    }
  }
  // .footer__logo-link
  &__logo-link {
    img {
      height: auto;
      @include adaptiveValue("width", 135,100,0,1920,1366.98 );
      @media (max-width:toEm(700.98)){
         width: 100% !important;
         max-width: toRem(124); 
      }
    }
  }
  // .footer__logo-txt
  &__logo-txt {
    @include adaptiveValue("font-size", 18, 16,0,1920,1366.98);
    font-weight: 500;
    line-height: 1.2;
    @media (max-width: toEm(1366.98)){
        min-width: toRem(215);
    }
  }
  // .footer__logos
  &__logos {
    @include adaptiveValue("column-gap", 33, 16,0,1920,1366.98);
    @include adaptiveValue("height", 40, 29,0,1920,1366.98);
    img {
      &:nth-child(2) {
        @media (min-width:$mobileSmall){
          height: 80%;
        }
        @media (max-width:$mobileSmall){
           height: 80%; 
        }
      }
    }
    @media (max-width: toEm(950.98)){
      margin-bottom: toRem(30);
    }
    align-items: flex-end;
    @media (min-width:$mobileSmall){
      display: flex;
    }
    @media (max-width:$mobileSmall){
        display: grid;
        grid-template-columns: 48% 48%;
    }
  }
  // .footer__second
  &__second {
    display: grid;
    @include adaptiveValue("gap", 83,20,0,1920,1366.98);
    @media (min-width:$tablet){
      grid-template-columns: auto auto;
    }
    @media (max-width: toEm(950.98)) and (min-width: toEm(700.98)){
      grid-column: 2/3;
      grid-row: 1/3;
    }
  }
  // .footer__map
  &__map {
    border: toRem(2) solid #DEDEDE;
    border-radius: toRem(20);
    overflow: hidden;
    iframe {
      outline: none;
      border-radius: toRem(20);
      // position: relative;
      // width: calc(100% + 4px);
      // height: calc(100% + 4px);
      // left: 50%;
      // top: 50%;
      // transform: translate(-50%, -50%);
      @media (min-width:$mobileSmall){
        aspect-ratio: 560/221;
      }
      @media (max-width:$mobileSmall){
         aspect-ratio: 350/218 
      }
    }
   
    @media (max-width:$tablet){
      order: 2;
    }
  }
  // .footer__contacts
  &__contacts {
  }
  // .footer__third
  &__third {
  }
  // .footer__icons
  &__icons {
  }
  // .footer__bottom
  &__bottom {
    border-top: toRem(1) solid rgba(0, 0, 0, 0.1);
    padding: toRem(30) 0;
  }
	// .footer__bottom-wr
	&__bottom-wr {
    color: rgba(0, 0, 0, 0.16);
    line-height: 1.2;
    display: grid;
    grid-template-columns: 60% auto;
    gap: toRem(22);
	}
  // .footer__name
  &__name {
    @include adaptiveValue("font-size", 16, 14,0,1920,1366.98);
  }
  // .footer__dev
  &__dev {
    font-size: toRem(14);
    text-align: right;
  }
}

.contacts-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: toRem(20);
  address {
    font-style: normal;
    display: grid;
    @include adaptiveValue("row-gap", 20, 14,0,1920,1366.98);
  }
  @media (max-width:$tablet){
    order: 1;
  }
  @media (max-width: toEm(700.98)){
      padding-top: toRem(30);
  }
  // .contacts-footer__title
  &__title {
    @include adaptiveValue("font-size", 32, 26,0,1920,1366.98);
    color: $red;
    font-weight: 700;
  }
  // .contacts-footer__link
  &__link {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 16, 10,0,1920,1366.98);
    @include adaptiveValue("font-size", 24,20,0,1920,1366.98);
    font-weight: 600;
    transition: color .3s ease;
    @media (any-hover: hover){
      &:hover{
        color: $red;
        img {
          transform: scale(1.1);
        }
      }
    }
    img {
      height: auto;
      @include adaptiveValue("width", 30, 24,0,1920,1366.98);
      transition: transform .3s ease;
    }
  }
}

.icons {
  gap: toRem(7);
  @media (max-width: toEm(700.98)) and (min-width: $mobileSmall){
    grid-template-columns: repeat(4, auto);
    width: fit-content;
    margin: 0 auto;
  }
  @media (min-width:$mobileSmall){
    display: grid;
  }
  @media (max-width:$mobileSmall){
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  // .icons__item
  &__item {
  }
  // .icons__link
  &__link {
    display: inline-block;
    transition: transform .3s ease;
    @media (any-hover: hover){
      &:hover{
        transform: translateY(toRem(-3));
      }
    }
    img {
      height: auto;
      @media (min-width:toEm(700.98)){
        width: toRem(50);
      }
      @media (max-width:toEm(700.98)){
        width: 100%;
        max-width: toRem(70) ;
      }
    }
  }
}
