.hero {
  position: relative;
  @media (max-width: toEm(1920.98)) and (max-height: toEm(1100.98)){
    min-height: 100vh;
    min-height: 100svh;
  }
  @media (min-width: toEm(1366.98)) and (min-height: toEm(1100.98)){
    min-height: 100vh;
    min-height: 100svh;
  }
  // .hero__title
  &__title {
    color: $mainWhite;
    width: 100%;
    padding: 0 toRem(20);
    position: absolute;
    z-index: 5;
    left: 50%;
    transform: translate(-50%,0);
    margin: toRem(100) 0 toRem(70);
    text-align: center;

    @include adaptiveValue("font-size", 58, 40,0,1920,1366.98);
    font-family: "Alumni Sans", sans-serif;
    font-weight: 700;
    line-height: 1;
    span {
      display: inline-block;
      font-weight: 600;
      @include adaptiveValue("font-size", 48, 30,2,1920,1366.98);
      @include adaptiveValue("font-size", 30, 22,3,1366.98,480.98);
    }


    @media (min-width:$mobileSmall){
      bottom: 0;
    }
    @media (max-width:$mobileSmall){
      top: 0;        
    }
  }
  // .hero__slider
  &__slider {
    position: relative;
    @media (max-width: toEm(1920.98)) and (max-height: toEm(1100.98)){
      height: 100vh;
      height: 100svh;
    }
    @media (min-width: toEm(1366.98)) and (min-height: toEm(1100.98)){
      height: 100vh;
      height: 100svh;
    }
    &::before {
      content: '';
      pointer-events: none;
      position: absolute;
      z-index: 2;
      inset: 0;
      @media (min-width:$mobileSmall){
        background-image: linear-gradient(0deg, rgba(23, 23, 23, 0.7) 17.083%,rgba(0, 0, 0, 0) 45.417%); 
      }
      @media (max-width:$mobileSmall){
        background-image: linear-gradient(180.00deg, rgba(23, 23, 23, 0.7) 17.083%,rgba(0, 0, 0, 0) 45.417%); 
      }
    }
    .swiper-pagination {
      position: absolute;
      z-index: 5;
      bottom: toRem(30);
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
  // .hero__wrapper
  &__wrapper {
  }
  // .hero__slide
  &__slide {
   
  }
	// .hero__slider-btn
	&__slider-btn {
    &.swiper-button-prev {
      left: toRem(30);
    }
    &.swiper-button-next {
      right: toRem(30);
    }
	}
}


// ===  HOME-NEWS - SECTION ===================================================================
.home-news {
  @extend %paddingSections;
  // .home-news__container
  &__container {
  }
  // .home-news__title
  &__title {
  }
  // .home-news__article
  &__article {
  }
	// .home-news__buttons
	&__buttons {
    display: flex;
    justify-content: center
	}
  // .home-news__btn
  &__btn {
    @extend %maxWidthButton;
  }
}

.article-news {
  display: grid;
  gap: toRem(20);
  @include adaptiveValue("margin-bottom", 50, 20,0,1920,1366.98);
  @media (min-width:toEm(850.98)){
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width:toEm(850.98)) and (min-width: toRem(600.98)){
    grid-template-columns: repeat(2, 1fr);
  }
  // .article-news__item
  &__item {
  }
  // .article-news__article
  &__article {
    display: flex;
    flex-direction: column;

    @extend %cardWrapper;

    @media (any-hover: hover){
      &:hover{
        .article-news__img {
          &::before {
            background-color: $yellow;
          }
        }
      }
    }
  }
  // .article-news__img
  &__img {
    img {
      aspect-ratio: 560/360;
    }
    position: relative;
    &::before {
      content: '';
      position: absolute;
      @include adaptiveValue("bottom", -12.5, -10,0,1920,1366.98);
      @include adaptiveValue("left", 30, 20,0,1920,1366.98);
      @include adaptiveValue("width", 25, 20,0,1920,1366.98);
      @include adaptiveValue("height", 25, 20,0,1920,1366.98);
      background-color: $red;
      border-radius: toRem(6);
      transition: background-color .3s ease;
    }
  }
  // .article-news__footer
  &__footer {
    flex: 1;
    @include adaptiveValue("padding", 30, 20,0,1920,1366.98);
    display: flex;
    flex-direction: column;
    row-gap: toRem(16);
    position: relative;
  }
  // .article-news__time
  &__time {
    flex: 1;
    font-size: toRem(14);
    font-weight: 400;
  }
	// .article-news__title
	&__title {
    @include adaptiveValue("font-size", 24, 20,0,1920,1366.98);
    font-weight: 500;
    line-height: 1.2;
    @include adaptiveValue("padding-right", 60, 50,0,1920,1366.98);
    .touch & {
      padding-right: unset !important;
    }
    @media (max-width: toEm(850.98)){
      padding-right: unset !important;
    }
  }
	// .article-news__arrow
	&__arrow {
	}
}


// ===  HOME-FACULTY - SECTION ===================================================================
.home-faculty {
  @extend %paddingSections;
  // .home-faculty__container
  &__container {
  }
  // .home-faculty__main-title
  &__main-title {
  }
  // .home-faculty__list
  &__list {
    display: grid;
    gap: toRem(20);
    @media (min-width:$mobile){
      grid-template-columns: repeat(2, 1fr);
    }
  }
  // .home-faculty__item
  &__item {
  }
  // .home-faculty__article
  &__article {
    position: relative;
    display: inline-block;

    @extend %cardWrapper;

    @media (max-width:$mobileSmall){
       min-height: toRem(400); 
    }
  }
  // .home-faculty__img
  &__img {
    position: absolute;
    inset: 0;
    z-index: 0;
    @media (min-width:$mobileSmall){
      aspect-ratio: 850/450;
    }
    @media (max-width:$mobileSmall){
      aspect-ratio: 350/412;
    }
  }
  // .home-faculty__body
  &__body {
    position: relative;
    z-index: 2;
    @include adaptiveValue("padding", 50, 30,0,1920,1366.98);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: toRem(30);
    height: 100%;
    @media (max-width: toEm(350.98)){
        padding: toRem(20) !important;
    }
  }
  // .home-faculty__icon
  &__icon {
    height: auto;
    @include adaptiveValue("width", 100, 75,0,1920,1366.98);
  }
  // .home-faculty__title
  &__title {
    color: $mainWhite;
    @include adaptiveValue("max-width", 400, 300,0,1920,1336.98);
    line-height: 1;
    @media (max-width: toEm(350.98)){
      font-size: toRem(50) !important;
    } 
  }
  // .home-faculty__arrow
  &__arrow {
  }
}


// ===  HOME-INFO - SECTION ===================================================================
.home-info {
  @extend %paddingSections;
  // .home-info__container
  &__container {
  }
  // .home-info__main-title
  &__main-title {
  }
  // .home-info__list
  &__list {
    display: grid;
    gap: toRem(20);
    @media (min-width:toEm(1200.98)){
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: toEm(1200.98)) and (min-width: $mobile){
      grid-template-columns: repeat(2, 1fr);  
    }
  }
  // .home-info__item
  &__item {
  }
  // .home-info__article
  &__article {
    display: flex;
    flex-direction: column;
    position: relative;
    @extend %cardWrapper;
    border-color: $mainColor;
    @include adaptiveValue("padding-top", 100, 80,0,1920,1366.98);
    @include adaptiveValue("padding-bottom", 50, 30,0,1920,1366.98);
    @include adaptiveValue("padding-left", 50, 20,0,1920,1366.98);
    @include adaptiveValue("padding-right", 50, 20,0,1920,1366.98);

    background-image: radial-gradient(50.00% 50.00% at 50% 50%,rgb(255, 239, 168),rgb(248, 202, 2) 100%);
    @media (any-hover: hover){
      &:hover{
        border-color: $red;
        box-shadow: 0px 5px 30px 0px rgba(139, 1, 19, 0.3);
        .home-info__title {
          left: 0;
          transform: translate(0, 0);
          color: $red;
        }
        
      }
    }
  }
  // .home-info__img
  &__img {
    @include adaptiveValue("padding-left", 50, 20,0,1920,1366.98);
    @include adaptiveValue("padding-right", 50, 20,0,1920,1366.98);
  }
  // .home-info__title
  &__title {
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    transition: left .45s ease, transform .45s ease, color .3s ease;
    @media (min-width:$mobile){
       margin-top: toRem(35); 
    }
    @media (max-width:$mobile){
       margin-top: toRem(55); 
    }
    @media (max-width: toEm(360.98)){
      font-size: toRem(40) !important;
    } 
  }
  // .home-info__arrow
  &__arrow {
  }
}


// ===  HOME-MSG - SECTION ===================================================================
.home-msg {
  @extend %paddingSections;
  // .home-msg__container
  &__container {
  }
  // .home-msg__main-title
  &__main-title {
  }
  // .home-msg__slider
  &__slider {
    position: relative;
    overflow: visible !important;
    .swiper-pagination {
      margin-top: toRem(30);
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
    }
  }
  // .home-msg__wrapper
  &__wrapper {
  }
  // .home-msg__slide
  &__slide {
  }
  // .home-msg__slider-btn
  &__slider-btn {
    transform: translate(0, -100%);
    &.swiper-button-prev {
      @media (min-width:toEm(1325.98)){
        left: toRem(-50);
      }
      @media (max-width: toEm(1325.98)){
          left: toRem(-15);
      }
    }
    &.swiper-button-next {
      @media (min-width:toEm(1325.98)){
        right: toRem(-50);
      }
      @media (max-width: toEm(1325.98)){
          right: toRem(-15);
      }
    }
  }
	// .home-msg__buttons
	&__buttons {
    margin-top: toRem(30);
    display: flex;
    justify-content: center;
	}
	// .home-msg__btn
	&__btn {
    @extend %maxWidthButton;
	}
}

.slide-msg {
  position: relative;
  @extend %cardWrapper;
  @include adaptiveValue("padding-top", 30, 20,0,1920,1366.98);
  @include adaptiveValue("padding-bottom", 30, 20,0,1920,1366.98);
  padding-left: toRem(30);
  @include adaptiveValue("padding-right", 80, 60,2,1920,1366.98);
  @include adaptiveValue("padding-right", 60, 30,3,1366.98,480.98);
  display: flex;
  flex-direction: column;
  @include adaptiveValue("row-gap", 97, 65,2,1920,1366.98);
  @include adaptiveValue("row-gap", 65, 42,3,1366.98,480.98);
  @media (any-hover: hover){
    &:hover{
      .slide-msg__name {
        &::before {
          background-color: $yellow;
        }
      }
    }
  }
  // .slide-msg__name
  &__name {
    @include adaptiveValue("font-size", 22, 20,0,1920,1366.98);
    list-style: 1;
    font-weight: 700;
    color: $red;
    position: relative;
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 20, 10);
    &::before {
      content: '';
      @include adaptiveValue("width", 25, 20);
      @include adaptiveValue("height", 25, 20);
      flex: 0 0 auto;
      border-radius: toRem(6);
      background-color: $red;
      transition: background-color .3s ease;
    }
  }
  // .slide-msg__about
  &__about {
    font-size: toRem(18);
    font-weight: 400;
  }
  // .slide-msg__arrow
  &__arrow {
  }
}

 .home-msg__slider-btn,
 .home-ad__slider-btn  {
  transform: translate(0, -100%);
  &.swiper-button-prev {
    @media (min-width:toEm(1325.98)){
      left: toRem(-50);
    }
    @media (max-width: toEm(1325.98)){
        left: toRem(-15);
    }
  }
  &.swiper-button-next {
    @media (min-width:toEm(1325.98)){
      right: toRem(-50);
    }
    @media (max-width: toEm(1325.98)){
        right: toRem(-15);
    }
  }
}

// ===  HOME-AD - SECTION ===================================================================
.home-ad {
  @extend %paddingSections;
  // .home-ad__container
  &__container {
  }
  // .home-ad__main-title
  &__main-title {
  }
  // .home-ad__slider
  &__slider {
    position: relative;
    @include adaptiveValue("margin-bottom", 50, 20,0,1920,1366.98);
    overflow: visible !important;
  }
  // .home-ad__wrapper
  &__wrapper {
  }
  // .home-ad__slide
  &__slide {
  }
  // .home-ad__slider-btn
  &__slider-btn {

  }
  // .home-ad__buttons
  &__buttons {
    display: flex;
    justify-content: center;
  }
  // .home-ad__btn
  &__btn {
    @extend %maxWidthButton;
  }
}

.slide-ad {
  @extend %cardWrapper;
  border-color: $mainWhite;
  position: relative;
  @media (any-hover: hover){
    &:hover{
      border-color: $red;
      box-shadow: 0px 5px 30px 0px rgba(139, 1, 19, 0.3);
    }
  }
  // .slide-ad__wrapper
  &__wrapper {
    position: relative;
  }
  // .slide-ad__head
  &__head {
  }
  // .slide-ad__img
  &__img {
    @media (min-width:$mobileSmall){
      aspect-ratio: 560/348;
    }
    @media (max-width:$mobileSmall){
      aspect-ratio: 350/304;        
    }
  }
  // .slide-ad__footer
  &__footer {
    @include adaptiveValue("padding-top", 40, 30,0,1920,1366.98);
    @include adaptiveValue("padding-left", 30, 20,0,1920,1366.98);
    @include adaptiveValue("padding-right", 70, 50,0,1920,1366.98);
    @include adaptiveValue("padding-bottom", 30, 20,0,1920,1366.98);
    @media (max-width: toEm(850.98)){
        padding-right: toRem(20) !important;
    }
  }
  // .slide-ad__title
  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 30, 24,0,1920,1366.98);
    span {
      color: $red;
    }
  }
  // .slide-ad__arrow
  &__arrow {
  }
}

.head-ad {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  @include adaptiveValue("padding", 28, 16,0,1920,1366.98);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: toRem(6);
  row-gap: toRem(10);
  // .head-ad__label
  &__label {
    background-color: $mainWhite;
    color: $red;
    font-weight: 700;
    display: grid;
    grid-template-columns: auto auto;
    gap: toRem(8);
    @media (min-width:toEm(1366.98)){
      padding: toRem(11) toRem(14);
    }
    @media (max-width: toEm(1366.98)){
      padding: toRem(8) toRem(12);
    }
    @media (min-width:$mobileSmall){
        border-radius: toRem(12);
    }
    @media (max-width:$mobileSmall){
        border-radius: toRem(10);
    }
  }
  // .head-ad__date
  &__date {
    @include adaptiveValue("font-size", 40, 34,0,1920,1366.98);
  }
  // .head-ad__body
  &__body {
  }
  // .head-ad__month
  &__month {
    @include adaptiveValue("font-size", 22, 18,0,1920,1366.98);
  }
  // .head-ad__day
  &__day {
    @include adaptiveValue("font-size", 16, 14,0,1920,1366.98);
    font-weight: 500;
  }
  // .head-ad__label-b
  &__label-b {
    background-color: $red;
    color: $mainWhite;
    @include adaptiveValue("font-size", 26, 20,0,1920,1366.98);
    @media (min-width:toEm(1366.98)){
      padding: toRem(18) toRem(23);
    }
    @media (max-width: toEm(1366.98)){
      padding: toRem(16) toRem(24);
    }
    @media (min-width:$mobileSmall){
      border-radius: toRem(12);
    }
    @media (max-width:$mobileSmall){
        border-radius: toRem(10);
    }
  }
}


// ===  HOME-PARTNERS - SECTION ===================================================================
.home-partners {
  @extend %paddingSections;
  // .home-partners__container
  &__container {
  }
  // .home-partners__main-title
  &__main-title {
  }
  // .home-partners__list
  &__list {
    display: grid;
    @include adaptiveValue("gap", 40, 20,0,1920,1366.98);
    
    @media (min-width:$tablet){
      grid-template-columns: repeat(8,auto);
    }
    @media (max-width:$tablet) and (min-width: $mobileSmall){
      grid-template-columns: repeat(4,auto);
    }
    @media (max-width:$mobileSmall){
      grid-template-columns: repeat(2,auto);
    }
  }
  // .home-partners__item
  &__item {
    @media (min-width:$mobileSmall){
      height: toRem(73);
      padding: toRem(5) 0;
    }
    @media (max-width:$mobileSmall){
       height: toRem(100); 
       padding: toRem(25) toRem(20);
    }
  }
}



// == NOT FOUND PAGE =============================
.not-fd {
  @include adaptiveValue("padding-top", 130, 100,0,1920,1366.98);
  @include adaptiveValue("padding-bottom", 100, 60,0,1920,1366.98);
  // .not-fd__container
  &__container {
    text-align: center;
  }
  // .not-fd__tilte
  &__tilte {
    font-family: "Alumni Sans", sans-serif;
    @include adaptiveValue("font-size", 80, 50,2,1920,1366.98);
    @include adaptiveValue("font-size", 50, 40,3,1366.98,480.98);
    font-weight: 700;
    line-height: 1.2;
  }
  // .not-fd__txt
  &__txt {
    font-family: "Alumni Sans", sans-serif;
    @include adaptiveValue("font-size", 36, 30,0,1920,1366.98);
    font-weight: 400;
    line-height: 1.2;
    @include adaptiveValue("margin-bottom", 40, 20,0,1920,1366.98);
  }
  // .not-fd__block
  &__block {
    @include adaptiveValue("max-width", 1024, 700,0,1920,1366.98);
    margin-left: auto;
    margin-right: auto;
    border-radius: toRem(26);
    border: toRem(1) solid $red;
    @include adaptiveValue("margin-bottom", 60, 20,0,1920,1366.98);
    p {
      font-family: "Alumni Sans", sans-serif;
      font-weight: 700;
      color: $red;
      @include adaptiveValue("font-size", 330, 260,2,1920,1366.98);
      @include adaptiveValue("font-size", 260, 230,3,1366.98,480.98);
    }
  }
  // .not-fd__buttons
  &__buttons {
  }
  // .not-fd__link
  &__link {
    @include adaptiveValue("max-width", 845, 580,0,1920,1366.98);
  }
}


// == REVIEW PAGE/SECTION =============================
.review {
  @extend %paddingSections;
  // .review__container
  &__container {
  }
	// .review__wrapper
	&__wrapper {
    margin: 0 auto;
    @include adaptiveValue("max-width", 845, 580,0,1920,1366.98);
	}
  // .review__title
  &__title {
  }
  // .review__body
  &__body {
  }
  // .review__form
  &__form {
  }
}

.form-review {
	// .form-review__item
	&__item {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 10,0,1920,1366.98);
    }
    &._form-error {}
    &._form-focus {}
    .form__error {
      margin-top: toRem(5);
      padding-left: toRem(30);
      @include adaptiveValue("font-size", 16, 14,0,1920,1366.98);
      color: $red;
    }
	}
  // .form-review__input
  &__input {

    &._form-error {}
    &._form-focus {}
  }
  // .form-review__textarea
  &__textarea {
    @include adaptiveValue("min-height", 200, 160,0,1920,1366.98);
  }
  // .form-review__btn
  &__btn {
  }
}
// 1920    1200 800
// 1283 - 860 - 491
.photo {
  // .photo__slider
  &__slider {
    position: relative;
    .swiper-pagination {
      @include adaptiveValue("padding-top", 30, 20,0,1920,1366.98);
      padding-bottom: toRem(3);
      .swiper-pagination-bullet {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
  // .photo__wrapper
  &__wrapper {
  }
  // .photo__slide
  &__slide {
    filter: contrast(0.3);
    &.swiper-slide-active {
      filter: contrast(1);
    }
  }
  // .photo__slider-btn
  &__slider-btn {
    @media (min-width:$mobile){
      transform: translate(0, -100%);
      &.swiper-button-prev {
        left: toRem(100);
      }
      &.swiper-button-next {
        right: toRem(100);
      }
    }
    @media (max-width:$mobile){
       display: none; 
    }
  }
}


.video-glr {
  // .video-glr__slider
  &__slider {
    position: relative;
    .swiper-pagination {
      @include adaptiveValue("padding-top", 30, 20,0,1920,1366.98);
      padding-bottom: toRem(3);
      .swiper-pagination-bullet {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
  // .video-glr__wrapper
  &__wrapper {
  }
  // .video-glr__slide
  &__slide {
    filter: contrast(0.3);
    &.swiper-slide-active {
      filter: contrast(1);
    }
    button {
      outline: none;
    }
    img {
      width: 100%;
      height: auto;
      border-radius: toRem(14);
    }
  }
  // .video-glr__slider-btn
  &__slider-btn {
    @media (min-width:$mobile){
      transform: translate(0, -100%);
      &.swiper-button-prev {
        left: toRem(100);
      }
      &.swiper-button-next {
        right: toRem(100);
      }
    }
    @media (max-width:$mobile){
       display: none; 
    }
  }
}


.text {
  // .text__container
  &__container {
    padding-top: 150px;
    display: grid;
    @media (min-width:toEm(1450.98)){
      grid-template-columns: auto 1fr;
    }
    @media (max-width:toEm(1450.98)){
      grid-template-columns: 100%;
    }

  }
  // .text__aside
  &__aside {
    @include adaptiveValue("width", 407, 300,2,1920,1366.98);
    @include adaptiveValue("width", 300, 250,3,1366.98,950.98);
    @media (min-width:toEm(800.98)){
      padding-bottom: toRem(30);
    }
    @media (max-width: toEm(800.98)){
      width: 100% !important;
    }
  }
  // .main__body
  &__body {
    background-color: gray;
    min-width: 0;
  }
}
